PORT=7800

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/HRMS?appName=Cluster0

JWT=your_super_secret_jwt_key_here

# Geo-location / Office Attendance Settings
OFFICE_LATITUDE=11.1213789
OFFICE_LONGITUDE=77.31969888888888
OFFICE_RADIUS_METERS=200

# Cloudinary Configuration
CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

HRMS_SETUP_KEY=demo001
